{% load static %}
{% load djpress_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% page_title post_text="| " %}{% site_title %}</title>
    <link rel="stylesheet" href="{% static 'default/css/style.css' %}">
    {% rss_link %}
    {% dj_header %}
  </head>
  <body>
    <header>
      <h1>{% site_title_link %}</h1>
      {% site_pages %}
    </header>

    <main>
      {% block main %}

      {% endblock main %}
    </main>

    <footer>
      <p>Powered by
        <a href="https://www.djangoproject.com/" title="The web framework for perfectionists with deadlines">Django</a>
        and
        <a href="#">DJPress</a>
      </p>
      {% dj_footer %}
    </footer>
  </body>
</html>
